<table border="1">
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>password</th>
        <th>Accion</th>
    </thead>
    <tbody *ngIf="usuarios.length > 0; else fila">
        <tr *ngFor=" let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.password}}</td>
            <button class="btn btn-danger" (click)=eliminar($event) value="{{usuario.id}}">Eliminar</button>
            <td></td>
        </tr>
    </tbody>
    <ng-template #fila>
        <tbody>
            <tr>
                <td colspan="4">No hay mas filas</td>
            </tr>
        </tbody>
    </ng-template>
</table>
<br>

<form (submit)="actualizar()" method="post">
    <fieldset>
        <legend>Seleccione un usuario para modificar</legend>
        <select class="form-control" required [(ngModel)]="id_select" name="id_select"
            (change)="seleccionaValor($event)">
            <option class="dropdown-item" disabled selected value="undefined">Seleccione ID</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.id}}</option>
        </select>
        <input type="text" [(ngModel)]="usuarios[indice].nombre" name="usuarios[indice].nombre" placeholder="Nombre">
        <input type="email" [(ngModel)]="usuarios[indice].email" name="usuarios[indice].email" placeholder="Email">
        <input type="password" [(ngModel)]="usuarios[indice].password" name="usuarios[indice].password"
            placeholder="Contraseña">
        <input type="text" [(ngModel)]="usuarios[indice].rol" name="usuarios[indice].rol" placeholder="Rol">
        <button class="btn btn-success">Actualizar</button>
    </fieldset>
</form>

<br>
<form (submit)="agregar()" method="post">
    <fieldset>
        <legend>Nuevo usuario</legend>
        <input type="text" [(ngModel)]="nuevo.nombre" name="nuevo.nombre" placeholder="Nombre"
            (focus)="limpiarNombre()">
        <input type="email" [(ngModel)]="nuevo.email" name="nuevo.email" placeholder="Email" (focus)="limpiarEmail()">
        <input type="password" [(ngModel)]="nuevo.password" name="nuevo.password" placeholder="Contraseña"
            (focus)="limpiarPassword()">
        <input type="text" [(ngModel)]="nuevo.rol" name="nuevo.rol" placeholder="Rol" (focus)="limpiarRol()">
        <button (click)="validarCampos()" class="btn btn-success">Agregar</button>
    </fieldset>
</form>

<div>
    <div [ngSwitch]="errorNombre">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Nombre muy largo</div>
        <div *ngSwitchCase="3">Nombre debe ser alfabetico</div>
    </div>

    <div [ngSwitch]="errorPassword">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Contraseña muy larga</div>
        <div *ngSwitchCase="3">Contraseña debe ser alfanumerica, admite mayusculas y @.</div>
    </div>

    <div [ngSwitch]="errorEmail">
        <div *ngSwitchCase="1">Debes completar el campo</div>
        <div *ngSwitchCase="2">Email muy largo</div>
        <div *ngSwitchCase="3">Email debe ser nombre@dominio.algo .</div>
    </div>
    <div [ngSwitch]="errorRol">
        <div *ngSwitchCase="1">El rol es <b>user</b> o <b>admin</b></div>
    </div>